:root{
    --yellow:rgb(192, 192, 85) ;
    --blue:rgb(82, 120, 215);
    --fontCOLOR:rgb(129, 129, 129);
}

body{
    
    padding: 12px;
    margin: auto;
    background-color: black;
    color:var(--fontCOLOR);
} 
#image, #content, #footer, #nav{
    text-align: center;
}
#image img{
    border: 1px solid var(--blue);
}
#skills{
    padding: 23px;
    background-color: rgb(13, 13, 13);
    border-top: 40000px;
    position: relative;
    bottom: -45px;
    margin: auto;
    width: 500px;
    border-radius: 34px;
}
#skills h2{
    color: rgb(197, 196, 196);
}
hr{
    border-color: var(--blue);
}
#contacts{
    text-align: right;
    position: relative;
    margin: auto;
    top: -145px;
    margin-top: 12px;
    padding-left: 7px;
}
#header{
    text-align: left;
}
#header p{
    position: relative;
    margin: auto;
    top: -22px;
}
#name, p{
    font-family: courier, sans-serif;
    
}
#name{
    color: var(--yellow);
   font-size: 18px;
}
li{
    list-style: none;
    display: inline;
    padding: 20px;
    margin-bottom: 32px;
    margin-top: 32px;
}
a{
    text-decoration: none;
    color: var(--blue);
    
}
a:hover, #icon-skills:hover{
    cursor: pointer;
    color:var(--yellow);
}
#nav a{
    background-color: var(--blue);
    color: black;
    padding: 6px;
    border-radius: 12px;
    
}
#nav a:hover{
    cursor: pointer;
    background-color: rgb(8, 8, 116);
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;  
    margin-top:150px;
}